<!doctype html>
<html lang="en" ng-app="AngularSpringApp">
<head>
    <meta charset="utf-8"/>
    <title>Contacts app</title>
    <link rel="stylesheet" href="resources/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="resources/css/app.css"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#"><h1>Contacts Web App</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#!/contacts">My contacts</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div ng-view></div>
<hr class="" />

</body>
<script src="resources/js/angular/angular.js"></script>
<script src="resources/js/angular-route/angular-route.js"></script>
<script src="resources/js/app.js"></script>
<script src="resources/js/services.js"></script>
<script src="resources/js/controllers/ContactsController.js"></script>
<script src="resources/js/filters.js"></script>
<script src="resources/js/directives.js"></script>
</html>
