<div id="wrapper">
        <h2>Saved contacts</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Address</th>
                <th>Phone number</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th><input type="text" class="form-control" ng-model="single.name"></th>
                <th><input type="text" class="form-control" ng-model="single.surname"></th>
                <th><input type="text" class="form-control" ng-model="single.address"></th>
                <th><input type="text" class="form-control" ng-model="single.phoneNumber"></th>
                <th>
                    <button class="btn btn-mini btn-success" ng-click="addContact(single)" ng-hide="edit">Add contact</button>
                    <button class="btn btn-mini btn-info" ng-click="editContact(single)" ng-show="edit">Edit contact</button>
                </th>
            </tr>
            <tr ng-repeat="contact in contacts">
                <th>{{contact.name}}</th>
                <th>{{contact.surname}}</th>
                <th>{{contact.address}}</th>
                <th>{{contact.phoneNumber}}</th>
                <th>
                    <button class="btn btn-mini btn-warning" ng-click="deleteContact(contact)">Delete</button>
                    <button class="btn btn-mini" ng-click="editMode(contact)">Edit</button>
                </th>
            </tr>
            </tbody>
        </table>
</div>